.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 195px 425px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

@media (max-width: 750px) {
    .popup {
        padding: 123px 19px;
    }
}