svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
}
.group__favorite {
    width: 24px;
    height: 19px;
    cursor: pointer;
}


.group__favorite:hover {
    opacity: 0.5;
}