.info {
    max-width: 336px;
    max-height: 73px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1250px) {
    .info {
        min-width: 200px;
    }
}

@media (max-width: 750px) {
    .info {
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }
}