.popup-container__button {
    width: 358px;
    height: 50px;
    background-color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 36px 37px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .popup-container__button {
        width: 238px;
        height: 46px;
        margin: 0 22px 25px;
    }
}