.profile__info {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 294px;
}

@media (max-width: 1250px) {
    .profile__info {
        max-width: 282px;
    }
}

@media (max-width: 1050px) {
    .profile__info {
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }
}