.edit-form__text_input-name {
    margin: 0 auto;
    margin-bottom: 30px;
}

@media (max-width: 750px) {
    .edit-form__text_input-name {
        width: 238px;
        height: 14px;
        margin: 0 0 30px;
    }
}