.popup-image-container__image-fullscreen {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 750px) {
    .popup-image-container__image-fullscreen {
        height: auto;
    }
}